:root {
    /* --outer-space: #33393f;
    --bright-turquoise: #2aefcb;
    --gin: #e0eae4;
    --heliotrope: #e866ec; */
    --oatmeal: #F2E9E2; 
    --dark-green: #3D8168; 
  }

body{
    background-color: var(--oatmeal);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*///////////
///DESKTOP///
///////////*/
.card{
    background-color: white;
    border-radius: 5px;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 75vh; 
}

img{
   display: block; 
   height: 75vh; 
}

.productImage{
    display: block;
    flex-direction: column;
    order: 1;
    /* width: 35vw; */
    height: 75vh; 
}

.productText{
    display: block;
    order: 2; 
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.prices{
    display: flex;
    flex-direction: row;
}

.oldPrice{
    text-decoration: line-through;
}

.newPrice{
   color: var(--dark-green);
   font-weight: bold; 
}

.button{
    background-color: var(--dark-green);;
    border-radius: 5px;
    color: white;
    border: none; 
    padding: 10px; 
}